$spacing-medium:8px;
$spacing-regular:16px;
$font-regular:1rem;
$font-small:.5rem;
$font-large:2rem;
$font-xlarge:4rem;


*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    width:400px;
    margin:auto;
}
