@import 'config.scss';
/* Mobile Approach First */

h1, h2{
    margin:0;
}

p{
    margin:$spacing-medium;
}
.container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
    "current current"
    "hourly hourly"
    "fiveday fiveday"
    "feelslike humidity";
    border:1px solid;
    gap: $spacing-regular;
    padding:$spacing-regular;

    > article{
        border:1px solid;
        border-radius: $spacing-regular;
        padding:$spacing-regular;
    }
    #current-forecast{
        grid-area:current;
        text-align:center;
        .temperature{
            font-size:$font-xlarge;
        }
        .description{
            text-transform: capitalize;
        }
        .description, .min-max-temp{
            font-size: $font-regular;
            font-weight:$font-semibold; 

        }
    }
    #hourly-forecast{
        grid-area:hourly;
        text-align: center;
        
        .hourly-container{
            display:grid;
            grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
            grid-auto-flow:column;
            grid-auto-columns: minmax(100px, 1fr);
            overflow-x:auto;
            gap:$spacing-medium;
            // .time{}
            .icon{
                height:100px;
                width:100px;
                object-fit:contain;
            }
            .hourly-temperature{
                font-size:$font-regular;
                font-weight:$font-semibold;
            }
        }
    }
    #five-day-forecast{
        grid-area:fiveday;
    }
    #feels-like{
        grid-area:feelslike;
        text-align: center;;
    }
    #humidity{
        grid-area:humidity;
        text-align: center;
    }
}
